@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* === Scrollbars === */
@layer base {
  ::-webkit-scrollbar {
    @apply !w-2 !h-2 !p-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply !bg-muted;
  }
  ::-webkit-scrollbar-track {
    @apply !bg-muted-foreground/30 rounded-sm;
  }

  /* Firefox */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
  html {
    scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
  }

  html.dark {
    scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: 'LINESeedJP';
  src: url('/fonts/LINE/LINESeedJP_OTF_Rg.woff2');
  font-display: swap;
}

html,
body {
  @apply h-full overflow-hidden font-main;
}

@layer utilities {
  .w-9\/16 {
    width: 56.25%;
  }
  .h-9\/16 {
    height: 56.25%;
  }
}
